<div class="text-white w-full h-[80px] fixed top-0 left-0 z-50 transition duration-300" [ngClass]="{
    'bg-transparent': !scrolled,
    'bg-dark/80  backdrop-blur shadow-xl shadow-[#0000007d]': scrolled
  }">
    <div class="max-w-[1500px] mx-auto px-3 w-full h-full flex justify-between items-center">
        <!-- Logo -->
        <div class="flex-1">
            <img class="max-w-[130px]" src="/logo.png" alt="logotipo da Movio">
        </div>

        <!-- Navegação desktop -->
        <nav class="flex-1 justify-center hidden lg:flex">
            <ul class="flex gap-6 text-lg font-semibold">
                <li class="hover:text-brand duration-300 cursor-pointer">
                    <a href="/">Início</a>
                </li>
                <li class="hover:text-brand duration-300 cursor-pointer">
                    <a href="/">Em destaque</a>
                </li>
                <li class="hover:text-brand duration-300 cursor-pointer">
                    <a href="/">Lançamentos</a>
                </li>
            </ul>
        </nav>

        <!-- Ícones desktop -->
        <div class="flex-1 justify-end hidden lg:flex">
            <div class="flex gap-3 text-xl">
                <i class="fa-solid fa-heart hover:text-brand duration-300 cursor-pointer"></i>
                <i class="fa-solid fa-magnifying-glass hover:text-gray-400 duration-300 cursor-pointer"></i>
            </div>
        </div>

        <!-- Botão mobile -->
        <button class="lg:hidden text-2xl ml-3" type="button" aria-label="Abrir menu" (click)="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>

    <!-- Menu mobile -->
    <div class="absolute top-0 left-0 w-full h-[100dvh] bg-zinc-800 shadow-lg transition-all duration-300 lg:hidden"
        [ngClass]="menuOpen ? 'translate-x-0' : '-translate-x-[-150vw] bg-transparent pointer-events-none'">
        <i class="fa-solid fa-xmark absolute right-5 top-7 text-2xl" (click)="toggleMenu()"></i>
        <ul class="p-3 flex flex-col gap-4 pt-[35%] text-2xl text-center">
            <li class="hover:text-brand duration-300 cursor-pointer">
                Início
            </li>
            <li class="hover:text-brand duration-300 cursor-pointer">
                Em destaque
            </li>
            <li class="hover:text-brand duration-300 cursor-pointer">
                Lançamentos
            </li>
        </ul>
    </div>
</div>