<div class="relative max-w-[1500px] px-3 mx-auto pt-16">
    <div class="mb-10 text-white border-l-4 border-brand px-3">
        <h2 class="text-2xl xl:text-3xl font-bold mb-2">{{title}}</h2>
        <p class="text-base lg:text-lg">{{subtitle}}</p>
    </div>

    <!-- Skeleton Loader -->
    <div *ngIf="isLoading" class="flex gap-4 overflow-x-auto flex-nowrap no-scrollbar px-1">
        <div *ngFor="let sk of skeletons"
            class="min-w-[220px] xl:min-w-[250px] h-[300px] lg:h-[380px] rounded-lg shrink-0 bg-zinc-800 animate-shimmer bg-[length:200%_100%] bg-gradient-to-r from-zinc-900 via-zinc-800 to-zinc-900">
        </div>
    </div>

    <!-- Slider -->
    <div *ngIf="!isLoading" class="relative">
        <!-- Gradiente à esquerda -->
        <div class="absolute top-0 left-0 w-[20%] h-full bg-gradient-to-l from-transparent to-dark/95 z-[9] pointer-events-none transition-opacity duration-500 ease-in-out opacity-0 hidden lg:flex"
            [class.opacity-100]="!isAtStart">
        </div>

        <!-- Gradiente à direita -->
        <div class="absolute top-0 right-0 w-[20%] h-full bg-gradient-to-r from-transparent to-dark/95 z-[9] pointer-events-none transition-opacity duration-500 ease-in-out opacity-0"
            [class.opacity-100]="!isAtEnd">
        </div>

        <!-- Container de slides -->
        <div #sliderRef
            class="flex overflow-x-auto gap-4 scroll-smooth no-scrollbar snap-x snap-mandatory pr-10 lg:pr-0"
            (scroll)="onScroll()">

            <div *ngFor="let movie of movies"
                class="relative snap-start min-w-[220px] xl:min-w-[250px] max-w-[180px] rounded-lg overflow-hidden cursor-pointer shrink-0 duration-300 hover:brightness-[108%] group">

                <!-- Imagem do filme -->
                <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title"
                    class="w-full h-auto block group-hover:scale-[102%] duration-500">

                <!-- Overlay com gradiente + botão -->
                <div
                    class="absolute inset-0 flex items-end justify-center transition-all duration-300 opacity-0 translate-y-full group-hover:opacity-100 group-hover:translate-y-0 bg-gradient-to-t from-black/80 to-transparent">
                    <button
                        class="bg-brand px-4 py-2 m-4 w-full rounded-md hover:bg-red-700 transition text-sm sm:text-base text-white">
                        Ver detalhes
                    </button>
                </div>

            </div>
        </div>



    </div>
    <!-- Navegação -->
    <div class="mt-6 w-full flex justify-center transition-opacity duration-700" [class.opacity-0]="isLoading"
        [class.opacity-100]="!isLoading">
        <div class="flex justify-start gap-2 max-w-[1500px] px-3 w-full">
            <!-- Botão Esquerda -->
            <button (click)="scrollLeft()" [disabled]="isAtStart"
                class="bg-zinc-100/10 hover:bg-zinc-100/30 backdrop-blur-sm text-white p-3 rounded-full transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                </svg>
            </button>

            <!-- Botão Direita -->
            <button (click)="scrollRight()" [disabled]="isAtEnd"
                class="bg-zinc-100/10 hover:bg-zinc-100/30 backdrop-blur-sm text-white p-3 rounded-full transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
    </div>
</div>